@model Corrida

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<mensagem texto="@ViewData["mensagem"]"></mensagem>

<form asp-action="Cadastrar" asp-controller="Corrida">
    <partial name="_formulario" />
    <input type="submit" value="Cadastrar" class="btn btn-p rimary" />    

</form>
