@model IList<Medalha>
@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<form asp-action="Pesquisar" asp-controller="Medalha" method="get">
    <input placeholder="Digite o nome da Corrida" name="termoPesquisa" type="text" class="form-control" />
    <input type="submit" class="btn btn-success" value="Pesquisar" style="border:2px solid black" />
</form>

<table class="table">
    <tr>
        <th>Peso</th>
        <th>Quantidade</th>
        <th>Categoria</th>
        <th>Corrida</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Peso</td>
            <td>@item.Quantidade</td>
            <td>@item.Categoria</td>
            <td>@item.Corrida</td>
        </tr>

    }

</table>
