@model IList<Jogo>
@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data Lançamento</th>
        <th>Plataforma</th>
        <th>Disponivel</th>
    </tr>
    @foreach (var item in Model) {
<tr>
    <td>@item.Nome</td>
    <td>@item.DataLancamento</td>
    <td>@item.plataforma</td>
    <td>@item.Disponivel</td>
</tr>

    }


</table>