@model Corrida
@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<mensagem texto="@ViewData["mensagem"]"></mensagem>


<form asp-action="Editar" asp-controller="Corrida">
    <input asp-for="CorridaId" />
    <partial name="_formulario" />
    <input type="submit" value="Editar" class="btn btn-primary" />
</form>
